<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>POC translate & generate QR Code</title>

  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>

  <div class="container mt-4">
    <div class="jumbotron">
      <h3>Translate and generate a QR Code</h3>
      <p>This is a very simple proof of concept.</p>
    </div>
    
    <!-- Adding form here -->
    <div class="mt-4">
      <form method="post" action="{% url 'qr_codes:home' %}">{% csrf_token %}
        <div class="form-group">
          <label for="textToTranslate">Text To Translate</label>
          <textarea class="form-control" required maxlength="100" name="textToTranslate" id="textToTranslate" rows="3"></textarea>
        </div>
        <div class="form-group">
          <label for="languageSelect">Select Language</label>
          <select class="form-control" id="targetLanguage" name="targetLanguage">
            {% for language in languages %}
              <option value="{{ language.language }}">{{ language.name }}</option>
            {% endfor %}
          </select>
        </div>
        <button type="submit" class="btn btn-primary">Translate and Generate QR Code</button>
      </form>
      
    </div>
    <!-- End of form -->
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
